
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');



* {
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
  

}
body {
    font-family: karla;
    font-weight: 300;
    background-color: #cfd4d8;
    display: flex;
    flex-direction: column;
    height:100vh
}

/* Logo */
#logo {
    text-align: center;
    margin:30px 0;
    color:#002868;

}


/* Welcome message and instructions */

#welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

#welcome-message {
    text-align: center;
    width:650px;
    display: block;
    margin:auto;
    padding:15px 0;
}

#welcome-message h2 {
    padding:10px
}

#welcome-message  p {
   font-size: 120%;
    padding:10px
}


#quiz-image img  {
    height:auto;
    max-width: 600px;
    display: block;
    margin:auto;
    border-radius: 10px;;
}

/* Username section */
 #username-container {
    display:flex;
    flex-direction: column;
    width:600px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding:15px 75px;
    gap:15px;
    margin:auto;
 }

#username-alert {
    display:flex;
    flex-direction: column;
    background-color:#002868;
    align-items: center;
    color:white;
    width:400px;
    height:125px;
    gap:15px;
    border: 2px solid;
    padding:15px;
    border-radius: 10px;
    margin:auto;
   
}

#username-alert > p{
    font-size: 150%;
}

#enter-name {
    font-size: 150%;
     text-align: center;
    }

#username {
    height:3vh;
    border-radius:10px;
    font-size: 16px;
    padding-left: 10px;
    }


/* Rules modal */

#rules-modal-container {
    margin-top: 30px;
}

#rules-modal {
    display:flex;
    flex-direction: column;
    background-color:#002868;
    color:white;
    width:600px;;
    height:350px;
    gap:15px;
    border: 2px solid;
    padding:15px;
    border-radius: 10px;
    margin:auto;
    padding: 15px 30px;
    line-height: 1.75em;
    align-items: center;
}

#rules-modal li {
    font-size: 120%;
}

#rules-modal > h2{
text-align: center;
}

/* buttons */
.play-btn {
    font-size: 150%;
    font-weight:600;
    background-color: #002868;
    color:white;
    padding:5px 15px;
    border-radius: 10px;
    border-color: blue;
    margin:15px;
    width:125px;
}

.play-btn:hover {
    background-color:white;
    color:navy
}

#next-btn {
    font-size: 150%;
    font-weight:600;
    background-color: white;
    color:#002868;
    padding:15px 30px;
    border-radius: 10px;
    border-color: blue;
}

#next-btn:hover {
    background-color:#002868;
    color:white;
}

#play {
    text-align: center;
   
}

.btn {
    font-size: 24px;
    font-weight: 700;
    color: blue;
}

#next {
    text-align: center;
   
}

#alert-btn, #rules-ok-btn {
    font-size: 150%;
    font-weight:600;
    background-color: white;
    color:#002868;
    padding:5px 15px;
    border-radius: 10px;
    width:125px;
    align-items: center;
}

#alert-btn:hover {
    color:white;
    background-color: #002868;
}

#rules-ok-btn:hover {
    color:white;
    background-color: #002868;
}

/* Main quiz section */

/* * Question */ 
#question {
    text-align: center;
    padding: 15px 0;
    margin: 0 auto;
    border-radius: 10px;
    color: white;
    background-color: #002868;
    border: solid 3px;
    border-color: blue;
    width:580px;
    justify-content: center;
}

/* Answers */
#answer-buttons {
    display:grid;
    justify-content: center;
    grid-template-columns: 300px 300px;
    grid-template-rows: 100px 100px;
    border-width: 3px;
    
}

.answer-btn:hover {
    border-color:orange;
    border-width: 5px;
}

.answer-btn {
    margin: 10px;
    border-radius: 10px;
    color: white;
    background-color: #002868;
    border: solid 3px;
    border-color: blue;
  
}
/* 
Correct and incorrect answers */
.correct {
    background-color: green;
}

.wrong {
    background-color: #c71110;
}


.selected {
    background-color:#c71110;
   
}


/* hide buttons */
.hide,.hide-scoreboard, .hide-timer {
    display: none
}


/* flash green when right answer */
/* Concept from https://stackoverflow.com/questions/16344354/how-to-make-blinking-flashing-text-with-css-3 */
.blink {
    animation:  blinker 1s linear 3;  
  }
  
  @keyframes blinker  {
    50% {
      opacity: 0;
 
    }
  }

/* 
  Scoreboard container */
  #scoreboard{
    display:flex;
    justify-content:center;
    flex-direction: row;
    gap:20px;
    padding:30px;
  }

  .scores {
    font-size: 120%;
  }

  #score {
    color:green;
    font-size: 120%;
  }

#incorrect {
    color:#c71110;
    font-size: 120%;
}

  #timer {
    display:flex;
    justify-content:center;
    padding-bottom: 30px;
    
  }

#time {
    display: flex;
    align-items: center;
    justify-content:center;
    border:solid 3px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding:10px;
    background-color: white;
    color:#002868;
    font-size: 24px;
    font-weight:600;

}

  /* game over modal */

  #gameover-modal-container {
    box-sizing: border-box;
    Margin: 0 auto;
   
    
      }

  #modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    border: 1px solid;
    border-radius: 10px;
    padding:20px;
    max-width:600px;
    margin:auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  
  }#modal >p{
    font-size: 1.5rem;
    text-align:center;
  }

  #modal >h2 {
    font-size: 1.75rem;

  }

  /* Footer  - social nedia links */

  footer {
    position: relative;
    bottom: 0px;
    margin-top: auto;
   }
  

  .social-media  {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 45px;
    list-style-type:none;
    width: 100vw;    

  }

.social-media i {
    font-size: 200%;
    color:#002868;

}
.social-media i:hover {
    color:white
}

  /* media queries for screens 650px and down */

  @media screen and (max-width:650px) {

   #quiz-image img  {
    width:85vw;
  } 

  #username-container {
    width:75vw;
    padding:15px;
    
  }

  #welcome-message {
    width: 85vw;
  }


  #answer-buttons {
    grid-template-columns: 225px;
    grid-template-rows: repeat(4,75px);
  }

  #question {
   width: 85vw;
}

#gameover-modal-container {
    Margin: 15px;
   
}
  }